:root {
	--primary-bg: #FFF;
	--secondary-bg: #EEF;
	--tertiary-bg: #F0F;

	--primary-fg: #000;
	--secondary-fg: #888;
	--tertiary-fg: #80F;


	--error-bg: #FDD;
	--error-fg: #C04;
	--warning-bg: #FED;
	--warning-fg: #A60;
	--success-bg: #EFE;
	--success-fg: #284;

	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: var(--secondary-fg);
	height: 100vh;
	width: 100vw;
}

input,
select,
button {
	background: var(--secondary-bg);
	border: 1px solid var(--secondary-fg);
	border-radius: 0.25em;
	outline: none;

	height: 2em;
}

button:hover,
select:hover {
	filter: brightness(0.95);
}

button:active {
	filter: brightness(0.75);
}

input:focus {
	filter: brightness(1.05);
}

a {
	color: var(--tertiary-fg);
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #EEE;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #EEE;
}

.view {
	background: var(--primary-bg);
	border-radius: 2em;
	border: 2px solid var(--primary-fg);
	box-shadow: 0 -8px 8px #666;

	height: fit-content;
	width: 100%;
	min-width: 200px;
	max-width: 720px;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.gap {
	gap: 0.5em;
}

.l-gap {
	gap: 2em;
}

.pad {
	padding: 0.5em;
}

.l-pad {
	padding: 2em;
}

.message {
	border-radius: 0.5em;
	box-shadow: 0 0 0 1px;

	height: fit-content;
	width: fit-content;
	max-width: 100%;
	padding: 0.5em 1em;
	text-align: center;
}


.message.error {
	background: var(--error-bg);
	color: var(--error-fg);
	box-shadow: 0 0 0 1px var(--error-fg);
}

.message.success {
	background: var(--success-bg);
	color: var(--success-fg);
	box-shadow: 0 0 0 1px var(--success-fg);
}

.hidden {
	display: none;
}